SQLALCHEMY_DATABASE_URI = 'sqlite:///sageiaticreator.sqlite'
DEBUG = True
DATA_STORAGE_DIR="/FULL/PATH/TO/YOUR/STORAGE/DIR"
SECRET_KEY = "YOUR-REALLY-SECRET-KEY"
UPLOAD_FOLDER = 'uploads'
ALLOWED_EXTENSIONS = set(['xls', 'xlsx'])
